:root {
  --blue: #00acdc;
}

html {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.logo__image {
  display: block;
  height: 40px;
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__link.is-active {
  color: var(--blue);
}

.nav__item {
  list-style: none;
  margin-left: 20px;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  height: 60px;
  color: #000;
  position: relative;
  font-size: 12px;
}

.nav__link:active {
  color: var(--blue);
}

.is-active::after {
  content: '';
  display: block;
  height: 4px;
  border-radius: 8px;
  background-color: var(--blue);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.nav__link:hover {
  color: var(--blue);
}
